.flex{
display:flex;
}
nav ul li{
list-style: none;
}
.arrow_svg{
    position: absolute;
    width: 16px;
    height: 22px;
}

.language_svg , .search_svg {
    position: relative;
    top: 2px;
    width: 18px;
    height: 18px;
}

